workflows/test-YNAB_Automation_bot.json
{
  "name": "test-YNAB_Automation_bot",
  "nodes": [
    {
      "parameters": {
        "content": "# YNAB Automation Bot (Main)\n\nThis workflow accepts Telegram input (voice, text, image+text) and routes to the YNAB API Agent.\n\nENV variables required:\n- USE_OPENAI=true|false\n- OPENAI_API_KEY\n- OPENROUTER_API_KEY\n- YNAB_BUDGET_ID\n\nCredential required in n8n:\n- OAuth2 credential named `YNAB_Automation_bot` (for the YNAB API calls in the API agent)\n\nHow it works:\n1. Telegram Trigger receives message\n2. Switch: voice / text / photo+caption\n3. Voice -> download -> transcribe with OpenAI\n4. Photo -> download -> OCR -> combine caption\n5. Prepare unified payload and call subworkflow `ynab_api_agent` (via Workflow node)\n6. Send result back to Telegram\n"
      },
      "id": "70596835-6572-4427-adf9-f2b4a6b14c85",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "789c9d17-b29f-4b6b-8f79-a0eb7c0ad00b",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        256
      ],
      "webhookId": "webhook-telegram-ynab",
      "credentials": {
        "telegramApi": {
          "id": "UthmehRb2RYD3B0G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "f2208a43-6e71-4ae1-b9dc-b2038433f087",
      "name": "Download Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        48
      ],
      "webhookId": "download-voice-webhook",
      "credentials": {
        "telegramApi": {
          "id": "UthmehRb2RYD3B0G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "51acb583-71a2-4e9e-9c0c-8a313fe1ef2d",
      "name": "Transcribe Audio (OpenAI)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        544,
        48
      ],
      "credentials": {
        "openAiApi": {
          "id": "g0cXIn73icUtjb4R",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[$json.message.photo.length-1].file_id }}",
        "additionalFields": {}
      },
      "id": "75647433-717c-43b2-b002-9794c5382b41",
      "name": "Download Photo File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        256
      ],
      "webhookId": "download-photo-webhook",
      "credentials": {
        "telegramApi": {
          "id": "UthmehRb2RYD3B0G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json.message.text }}"
            },
            {
              "name": "update_id",
              "type": "numberValue",
              "numberValue": "={{ $json.update_id }}"
            },
            {
              "name": "message",
              "type": "objectValue",
              "objectValue": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a6437732-0191-4630-a247-17a4849c6329",
      "name": "Set Payload - Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        528,
        512
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json.text }}"
            },
            {
              "name": "update_id",
              "type": "numberValue",
              "numberValue": "={{ $('Telegram Trigger').item.json.update_id }}"
            },
            {
              "name": "message",
              "type": "objectValue",
              "objectValue": "={{ $('Telegram Trigger').item.json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "33c919a7-f311-4414-93e0-cc6881bf2772",
      "name": "Set Payload - Voice",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        704,
        48
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Telegram Trigger').item.json.message.caption || '' }}: {{$json.parsedText}}"
            },
            {
              "name": "update_id",
              "type": "numberValue",
              "numberValue": "={{ $('Telegram Trigger').item.json.update_id }}"
            },
            {
              "name": "message",
              "type": "objectValue",
              "objectValue": "={{ $('Telegram Trigger').item.json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9a8853fc-e2e4-4e9a-960f-05c3716938bb",
      "name": "Set Payload - Photo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        848,
        256
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "229918bf-2502-4923-826b-c2e1896bf97f",
      "name": "Send Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        272
      ],
      "webhookId": "e0cf3bdc-9619-42dc-9d91-8f7ff3a04baf",
      "credentials": {
        "telegramApi": {
          "id": "UthmehRb2RYD3B0G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "60543b45-1284-4ec0-a44a-9373a2af31a5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "70a78dd0-e12a-4658-b538-3b646f668e96",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image+Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fe2f83d6-3195-49f0-ab88-8451de7e67bf",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        160,
        240
      ],
      "id": "8c11757c-2e81-4fa6-bfa4-937819ebb764",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "language",
              "value": "spa"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "K87997918288957"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        256
      ],
      "id": "18435d66-1ece-4bcd-8d08-f8ce2705d59f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Extract ParsedText from OCR response\nconst ocr = $json;\n\nlet parsedText = null;\n\ntry {\n  parsedText = ocr?.ParsedResults?.[0]?.ParsedText ?? null;\n} catch (e) {\n  parsedText = null;\n}\n\n// Return data for next node\nreturn [\n  {\n    parsedText,\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        256
      ],
      "id": "4b6307a5-18c3-4b60-8ff1-6d752112ae29",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Pr8tBQtDrnB53GW4",
          "mode": "list",
          "cachedResultUrl": "/workflow/Pr8tBQtDrnB53GW4",
          "cachedResultName": "test-YNAB-API-TOOLS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "update_id": "={{ $json.update_id }}",
            "message": "={{ $json.message }}",
            "text": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "update_id",
              "displayName": "update_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1152,
        272
      ],
      "id": "ed4009fa-d8cc-4d8b-be1c-680f02b507c5",
      "name": "Call 'test-YNAB-API-TOOLS'"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File": {
      "main": [
        [
          {
            "node": "Transcribe Audio (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio (OpenAI)": {
      "main": [
        [
          {
            "node": "Set Payload - Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Photo File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload - Photo": {
      "main": [
        [
          {
            "node": "Call 'test-YNAB-API-TOOLS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload - Text": {
      "main": [
        [
          {
            "node": "Call 'test-YNAB-API-TOOLS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload - Voice": {
      "main": [
        [
          {
            "node": "Call 'test-YNAB-API-TOOLS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Download Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Photo File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Payload - Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Set Payload - Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'test-YNAB-API-TOOLS'": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6c120f30-67c1-4f43-8ebe-317030fd2d3b",
  "meta": {
    "instanceId": "034c0cf13df720043486907f85a898e45a2fee6a4a7bbbfdab5ea439e9c066c1"
  },
  "id": "pLF53wHT4yFfr7QL",
  "tags": []
}