workflows/test-YNAB-API.json
{
  "name": "test-YNAB-API",
  "nodes": [
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "url": "=https://api.ynab.com/v1/budgets/{{ $env.YNAB_BUDGET_ID}}/accounts/{{$json.account_id}}",
        "jsonParameters": true,
        "options": {}
      },
      "id": "b3e58dd1-0b2d-448c-8f51-6f8c6eb947de",
      "name": "GET /accounts/{id}",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -608,
        688
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "ChALUg665mUUhsxH",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const response = $items(\"GET /accounts/{id}\")[0].json;\nreturn [{ \n  json: { \n    success: true,\n    action: \"get_account_balance\",\n    account: response.data.account,\n    balance: response.data.account.balance,\n    message: \"Account balance retrieved successfully\"\n  } \n}];"
      },
      "id": "365b48ef-8798-4f5e-9e88-72a3dee18fb9",
      "name": "Return account balance",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -368,
        688
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "url": "=https://api.ynab.com/v1/budgets/{{ $env.YNAB_BUDGET_ID}}/transactions",
        "jsonParameters": true,
        "options": {}
      },
      "id": "b6b7150b-6489-444f-b1cf-58b3eb854330",
      "name": "GET /transactions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -608,
        528
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "ChALUg665mUUhsxH",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const response = $items(\"GET /transactions\")[0].json;\nreturn [{ \n  json: { \n    success: true,\n    action: \"get_transactions\",\n    transactions: response.data.transactions,\n    count: response.data.transactions.length,\n    message: \"Transactions retrieved successfully\"\n  } \n}];"
      },
      "id": "d7afafd7-1b1a-402e-b2d6-7a3a16d5d6d9",
      "name": "Return transactions result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -368,
        528
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "url": "=https://api.ynab.com/v1/budgets/{{ $env.YNAB_BUDGET_ID}}/categories",
        "jsonParameters": true,
        "options": {}
      },
      "id": "fb77dc55-e048-43fe-9c0d-45c222427c09",
      "name": "GET /categories",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -608,
        368
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "ChALUg665mUUhsxH",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const response = $items(\"GET /categories\")[0].json;\nreturn [{ \n  json: { \n    success: true,\n    action: \"get_categories\",\n    categories: response.data.category_groups,\n    count: response.data.category_groups.length,\n    message: \"Categories retrieved successfully\"\n  } \n}];"
      },
      "id": "37bba1e6-1940-45ab-9474-d0021620c07f",
      "name": "Return categories result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -368,
        368
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "url": "=https://api.ynab.com/v1/budgets/{{ $env.YNAB_BUDGET_ID}}/accounts",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "=",
        "queryParametersJson": "="
      },
      "id": "4af8e511-b71d-412f-a63d-bdbc44785201",
      "name": "GET /accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -608,
        192
      ],
      "executeOnce": true,
      "notesInFlow": false,
      "alwaysOutputData": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "ChALUg665mUUhsxH",
          "name": "Bearer Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "functionCode": "const response = $items(\"GET /accounts\")[0].json;\nreturn [{ \n  json: { \n    success: true,\n    action: \"get_accounts\",\n    accounts: response.data.accounts,\n    count: response.data.accounts.length,\n    message: \"Accounts retrieved successfully\"\n  } \n}];"
      },
      "id": "ffbeb9ee-e675-49bc-ad16-3716c1f7158e",
      "name": "Return accounts result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -368,
        192
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "body",
              "type": "objectValue",
              "objectValue": "={{  $fromAI('rawPayload') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7d645a92-cbf0-46a3-ac4d-0d68887cb7d4",
      "name": "Build create_transaction payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -608,
        16
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "requestMethod": "POST",
        "url": "=https://api.ynab.com/v1/budgets/{{ $env.YNAB_BUDGET_ID}}/transactions",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ $json.body }}"
      },
      "id": "8906fb69-8ba8-485a-a0ed-31478ea0e6d8",
      "name": "POST /transactions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -368,
        16
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "ChALUg665mUUhsxH",
          "name": "Bearer Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "functionCode": "const response = $items(\"POST /transactions\")[0].json;\nreturn [{ \n  json: { \n    success: true, \n    action: \"create_transaction\",\n    transaction_id: response?.data?.transaction?.id,\n    account_id: response?.data?.transaction?.account_id,\n    amount: response?.data?.transaction?.amount,\n    payee_name: response?.data?.transaction?.payee_name,\n    date: response?.data?.transaction?.date,\n    message: \"Transaction created successfully\"\n  } \n}];"
      },
      "id": "d2968f39-89ae-440a-9162-6f3eb3130f05",
      "name": "Return create result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"request\": \"get_categories\",\n  \"rawPayload\": null\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1152,
        368
      ],
      "id": "20139036-17fb-414b-8579-3da2a2d518ea",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.request }}",
                    "rightValue": "create_transaction",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dd819951-7ec5-4c44-abbb-d858024eceee"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create_transaction"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b70725c3-a648-4a36-992b-201c22b011ca",
                    "leftValue": "={{ $json.request }}",
                    "rightValue": "get_accounts",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_accounts"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a470db8-6b82-4a5b-8c99-2d45dc7d5e40",
                    "leftValue": "={{ $json.request }}",
                    "rightValue": "get_categories",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_categories"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "16aa8d79-59df-40b6-ad60-6d17583d898d",
                    "leftValue": "={{ $json.request }}",
                    "rightValue": "get_transactions",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_transactions"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d7660bb8-c45f-45e5-8a26-de7a8d557725",
                    "leftValue": "={{ $json.request }}",
                    "rightValue": "get_account_balance",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_account_balance"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "leftValue": "={{ $json.request }}",
                    "rightValue": "get_payees",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_payees"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f2a45b05-dc1d-46dc-80cc-cb642e6448f4",
                    "leftValue": "={{ $json.request }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -976,
        320
      ],
      "id": "36117a3a-d0cf-467c-adac-7c98188ff15b",
      "name": "Switch"
    },
    {
      "parameters": {
        "functionCode": "const errorData = $input.first().json;\n\nlet errorMessage = \"Error occurred\";\n\nif (errorData.error?.detail) {\n  errorMessage = errorData.error.detail;\n} else if (errorData.message) {\n  errorMessage = errorData.message;\n} else if (errorData.error) {\n  errorMessage = JSON.stringify(errorData.error);\n}\n\nreturn [{ \n  json: { \n    success: false, \n    error: true,\n    message: errorMessage,\n    rawError: errorData\n  } \n}];"
      },
      "id": "87c7cf60-128b-4804-8be3-fc152eff22b0",
      "name": "Return error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        640,
        480
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "url": "=https://api.ynab.com/v1/budgets/{{ $env.YNAB_BUDGET_ID}}/payees",
        "jsonParameters": true,
        "options": {}
      },
      "id": "d5c109cd-6909-476f-b39c-204bf1d48307",
      "name": "GET /payees",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -608,
        848
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "ChALUg665mUUhsxH",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const response = $items(\"GET /payees\")[0].json;\nreturn [{ \n  json: { \n    success: true,\n    action: \"get_payees\",\n    payees: response.data.payees,\n    count: response.data.payees.length,\n    message: \"Payees retrieved successfully\"\n  } \n}];"
      },
      "id": "61927fad-ac78-4a4e-ad92-e1c400e9c64c",
      "name": "Return payees result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -368,
        848
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Build create_transaction payload": {
      "main": [
        [
          {
            "node": "POST /transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /transactions": {
      "main": [
        [
          {
            "node": "Return create result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /accounts": {
      "main": [
        [
          {
            "node": "Return accounts result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /categories": {
      "main": [
        [
          {
            "node": "Return categories result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /transactions": {
      "main": [
        [
          {
            "node": "Return transactions result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /accounts/{id}": {
      "main": [
        [
          {
            "node": "Return account balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /payees": {
      "main": [
        [
          {
            "node": "Return payees result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Build create_transaction payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET /accounts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET /categories",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET /transactions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET /accounts/{id}",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET /payees",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "834d49a2-12d4-4a61-ba13-41c269ce83fb",
  "meta": {
    "instanceId": "034c0cf13df720043486907f85a898e45a2fee6a4a7bbbfdab5ea439e9c066c1"
  },
  "id": "lZn1WWLBWwSDxc05",
  "tags": []
}