workflows/YNAB_API_Tool.json
{
  "name": "YNAB-API-TOOLS",
  "nodes": [
    {
      "parameters": {
        "content": "# YNAB API Agent\n\nThis workflow exposes function-style actions for the main bot:\n\n- create_transaction\n- get_accounts\n- get_categories\n- get_payees\n- get_transactions\n- get_account_balance\n\nAUTH: Uses OAuth2 credential named `YNAB_Automation_bot`.\nBUDGET: Uses environment variable `YNAB_BUDGET_ID`.\n",
        "height": 576
      },
      "id": "0ec32d67-f809-4666-9128-eede2910c3c3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -960,
        32
      ],
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n    \"update_id\": 181782288,\n    \"message\": {\n        \"message_id\": 28,\n        \"from\": {\n            \"id\": 1835468157,\n            \"is_bot\": false,\n            \"first_name\": \"Alex\",\n            \"language_code\": \"en\"\n        },\n        \"chat\": {\n            \"id\": 1835468157,\n            \"first_name\": \"Alex\",\n            \"type\": \"private\"\n        },\n        \"date\": 1763495739,\n        \"text\": \"Dime cuales son las categorias en mi budget 2\"\n    },\n  \"text\": \"Dime cuales son las categorias en mi budget 2\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -544,
        208
      ],
      "id": "7c47ac29-82c0-4aa8-9796-39ee7e88b8ff",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text}}",
        "options": {
          "systemMessage": "# YNAB API AGENT - SYSTEM PROMPT\n\n## ROLE\nYou are an AI agent that controls a tool called **\"Call 'YNAB-API'\"**.\n\n**RULES:**\n- Always call the tool to perform actions\n- After the tool returns data, you MUST respond with a brief confirmation\n- Do not fabricate data\n\n---\n\n## OPERATIONS\n\n1. **Query Operations**\n   - `get_accounts` - Retrieve all budget accounts\n   - `get_categories` - Retrieve all budget categories  \n   - `get_payees` - Retrieve all payees/merchants\n   - `get_transactions` - Retrieve transactions\n   - `get_account_balance` - Get balance for specific account\n\n2. **Transaction Operations**\n   - `create_transaction` - Create a new transaction\n\n---\n\n## WORKFLOW\n\n### For Queries (get_accounts, get_categories, etc.)\n\n1. Call the tool with the request type\n2. When tool returns success, respond with: \"Done\"\n\n**Example:**\nUser: \"Muéstrame mis cuentas\"\n\nYou call:\n```json\n{\"request\": \"get_accounts\", \"rawPayload\": null}\n```\n\nTool returns: {success: true, accounts: [...]}\n\nYou respond: {success: true, accounts: [...]}\n\n---\n\n### For Transaction Creation\n\n1. Extract: amount, merchant, date, account hint, category hint\n2. Call `get_accounts` to resolve account ID\n3. Match account hint to actual account name (case-insensitive)\n4. Call `create_transaction` with resolved account_id\n5. When tool returns success, respond with: \"Done\"\n\n**Amount Conversion:** Always convert to milliunits (multiply by 1000)\n- $50 → 50000\n- $25.50 → 25500\n\n**Example:**\nUser: \"Pagué $5.500 en café con mi Nu\"\n\nCall 1:\n```json\n{\"request\": \"get_accounts\", \"rawPayload\": null}\n```\n\nTool returns: {success: true, accounts: [{id: \"abc-123\", name: \"Nubank\"}, ...]}\n\nCall 2:\n```json\n{\n  \"request\": \"create_transaction\",\n  \"rawPayload\": {\n    \"transaction\": {\n      \"account_id\": \"abc-123\",\n      \"date\": \"2025-11-18\",\n      \"amount\": 5500,\n      \"payee_name\": \"Café\",\n      \"cleared\": \"cleared\",\n      \"approved\": true\n    }\n  }\n}\n```\n\nTool returns: {success: true, transaction_id: \"xyz\"}\n\nYou respond: {success: true, transaction_id: \"xyz\"}\n\n---\n\n## MATCHING RULES\n\n- \"nu\" matches \"Nubank\", \"NuCard\"  \n- \"rappi\" matches \"Rappipay\", \"RappiCard\"\n- \"bancolombia\" matches any account with \"Bancolombia\"\n- \"efectivo\" or \"cash\" matches \"Cash\"\n\n---\n\n## CRITICAL\n\n- Never invent UUIDs\n- Always call get_accounts before create_transaction\n- After tool returns success, just say \"Done\"\n- Maximum 3 tool calls per request",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -336,
        208
      ],
      "id": "d6406e8c-bffc-4099-b247-a02e89c6a7a5",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "x-ai/grok-4.1-fast:free",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -384,
        416
      ],
      "id": "6a548513-27df-4551-b66e-03defa4e417b",
      "name": "OpenRouter LLM",
      "credentials": {
        "openRouterApi": {
          "id": "zgY4sFSQCLANvjbv",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.update_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -240,
        416
      ],
      "id": "ad83fa24-25bf-41a2-8e57-86e80104f50e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// ------------------------------------------------------------\n// 1. Obtener la salida del agente\n// ------------------------------------------------------------\nconst rawOutput = $json.output || $json.toolResponse || $json.text || null;\n\nlet toolData = null;\n\n// ------------------------------------------------------------\n// 2. Intentar parsear directamente lo que venga\n// ------------------------------------------------------------\nif (rawOutput && typeof rawOutput === \"string\") {\n  try {\n    const parsed = JSON.parse(rawOutput);\n\n    // Es una respuesta válida del YNAB-API si contiene success\n    if (parsed && typeof parsed === \"object\" && parsed.success !== undefined) {\n      toolData = parsed;\n    }\n  } catch (_) {\n    // No es JSON\n  }\n}\n\n// ------------------------------------------------------------\n// 3. Si aún no hay toolData → error real\n// ------------------------------------------------------------\nif (!toolData) {\n  return [{\n    json: {\n      output:\n        \"❌ Error leyendo la respuesta del servidor.\\n\" +\n        \"El agente no devolvió JSON válido.\\n\\n\" +\n        \"Debug (100 chars): \" +\n        (rawOutput ? JSON.stringify(rawOutput).substring(0, 100) : \"sin output\")\n    }\n  }];\n}\n\n// ------------------------------------------------------------\n// 4. Formatear respuesta final según acción YNAB\n// ------------------------------------------------------------\nlet output = \"\";\n\nswitch (toolData.action) {\n\n  case \"create_transaction\":\n    output = `✅ Transacción creada exitosamente!\\n`;\n    if (toolData.transaction_id) output += `ID: ${toolData.transaction_id}\\n`;\n    if (toolData.amount) output += `Monto: $${(toolData.amount / 1000).toLocaleString('es-CO')}\\n`;\n    if (toolData.payee_name) output += `Comercio: ${toolData.payee_name}\\n`;\n    if (toolData.date) output += `Fecha: ${toolData.date}`;\n    break;\n\n  case \"get_accounts\":\n    output = `📊 Cuentas encontradas (${toolData.count}):\\n\\n`;\n    toolData.accounts.forEach(acc => {\n      const balance = (acc.balance / 1000).toLocaleString('es-CO');\n      output += `• ${acc.name}: $${balance}\\n`;\n    });\n    break;\n\n  case \"get_categories\":\n    output = `📁 Categorías (${toolData.count} grupos):\\n`;\n    toolData.categories.forEach(group => {\n      output += `\\n**${group.name}**\\n`;\n      group.categories?.forEach(cat => {\n        if (!cat.hidden) output += `  • ${cat.name}\\n`;\n      });\n    });\n    break;\n\n  case \"get_transactions\":\n    output = `💳 Últimas transacciones (${toolData.count}):\\n\\n`;\n    toolData.transactions.slice(0, 10).forEach(txn => {\n      const amount = (txn.amount / 1000).toLocaleString('es-CO');\n      output += `• ${txn.date} - ${txn.payee_name || 'N/A'}: $${amount}\\n`;\n    });\n    break;\n\n  case \"get_payees\":\n    output = `🏪 Comercios (${toolData.count}):\\n\\n`;\n    toolData.payees.slice(0, 20).forEach(p => output += `• ${p.name}\\n`);\n    if (toolData.count > 20) {\n      output += `\\n... y ${toolData.count - 20} más`;\n    }\n    break;\n\n  case \"get_account_balance\":\n    const bal = (toolData.balance / 1000).toLocaleString('es-CO');\n    output = `💰 Balance de ${toolData.account.name}:\\n$${bal}`;\n    break;\n\n  default:\n    output = toolData.message || \"Operación completada.\";\n}\n\n// ------------------------------------------------------------\n// 5. Retornar al usuario\n// ------------------------------------------------------------\nreturn [{ json: { output } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        0
      ],
      "id": "c19e8162-9f85-4fc3-a633-7a7f3790929c",
      "name": "Format Response"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "outputs": {
          "values": [
            {
              "outputName": "output",
              "outputValue": "={{$json.output}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        288,
        0
      ],
      "id": "84753141-60be-4150-a812-bfcdf8dfcdda",
      "name": "Response back"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "outputs": {
          "values": [
            {
              "outputName": "output",
              "outputValue": "❌ Hubo un error al procesar la solicitud. Por favor intenta de nuevo."
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        80,
        368
      ],
      "id": "bf738aa9-3f17-4911-b0d4-8d1498415230",
      "name": "Response back (with error)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LsglutbwFdCBFJbU",
          "mode": "list",
          "cachedResultUrl": "/workflow/LsglutbwFdCBFJbU",
          "cachedResultName": "test-YNAB-API"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request": "={{$fromAI('request')}}",
            "rawPayload": "={{$fromAI('rawPayload')}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "request",
              "displayName": "request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "rawPayload",
              "displayName": "rawPayload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -80,
        432
      ],
      "id": "04f655a6-e593-4095-9d1a-21af8f7de4e8",
      "name": "Call 'test-YNAB-API'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2cfd8900-2136-4f61-a934-dc13ef4adca5",
              "name": "output",
              "value": "={{$fromAI('output')}}",
              "type": "object"
            },
            {
              "id": "c9577f06-d4ab-4bb5-b6dc-30c88befba7c",
              "name": "id",
              "value": "={{ $('When Executed by Another Workflow').item.json.update_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "29b61b7a-60d6-4027-a4c1-b4f206180721",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response back (with error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Response back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'test-YNAB-API'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "142f0f37-3b8e-4d1b-8b53-b29af1b4a26e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c10011bdd228194b706fe7dc79bf0378bdf65673c997c057b28b7438d3c9c58e"
  },
  "id": "n8vybH7rinsU35jL",
  "tags": []
}