workflows/YNAB_Automation_bot.json
{
  "name": "test-YNAB_Automation_bot",
  "nodes": [
    {
      "parameters": {
        "content": "# YNAB Automation Bot (Main)\n\nThis workflow accepts Telegram input (voice, text, image+text) and routes to the YNAB API Agent.\n\nENV variables required:\n- USE_OPENAI=true|false\n- OPENAI_API_KEY\n- OPENROUTER_API_KEY\n- YNAB_BUDGET_ID\n\nCredential required in n8n:\n- OAuth2 credential named `YNAB_Automation_bot` (for the YNAB API calls in the API agent)\n\nHow it works:\n1. Telegram Trigger receives message\n2. Switch: voice / text / photo+caption\n3. Voice -> download -> transcribe with OpenAI\n4. Photo -> download -> OCR -> combine caption\n5. Prepare unified payload and call subworkflow `ynab_api_agent` (via Workflow node)\n6. Send result back to Telegram\n"
      },
      "id": "92f428b3-67a4-4544-bd4a-696d6b5b22a8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "be055230-3310-4c3d-81c8-d00747d8e169",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        256
      ],
      "webhookId": "webhook-telegram-ynab",
      "credentials": {
        "telegramApi": {
          "id": "PSckvakDT1ETlbAn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "5e5eb36c-ef49-4cdc-9d3a-a743cc0a1873",
      "name": "Download Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        48
      ],
      "webhookId": "download-voice-webhook",
      "credentials": {
        "telegramApi": {
          "id": "PSckvakDT1ETlbAn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "5e462e1f-8b18-40b2-ae0f-e6d333db6709",
      "name": "Transcribe Audio (OpenAI)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        544,
        48
      ],
      "credentials": {
        "openAiApi": {
          "id": "uXH9Au33nZyHPfQa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[$json.message.photo.length-1].file_id }}",
        "additionalFields": {}
      },
      "id": "f2574d85-e3ed-458c-a2ad-bb94f3f356ea",
      "name": "Download Photo File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        256
      ],
      "webhookId": "download-photo-webhook",
      "credentials": {
        "telegramApi": {
          "id": "PSckvakDT1ETlbAn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json.message.text }}"
            },
            {
              "name": "update_id",
              "type": "numberValue",
              "numberValue": "={{ $json.update_id }}"
            },
            {
              "name": "message",
              "type": "objectValue",
              "objectValue": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "80cf5943-b68e-4bc5-91ff-25a8732cf3d4",
      "name": "Set Payload - Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        528,
        512
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json.text }}"
            },
            {
              "name": "update_id",
              "type": "numberValue",
              "numberValue": "={{ $('Telegram Trigger').item.json.update_id }}"
            },
            {
              "name": "message",
              "type": "objectValue",
              "objectValue": "={{ $('Telegram Trigger').item.json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ce10e345-a4de-4436-b41c-5b4360ab6c2f",
      "name": "Set Payload - Voice",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        704,
        48
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Telegram Trigger').item.json.message.caption || '' }}: {{$json.parsedText}}"
            },
            {
              "name": "update_id",
              "type": "numberValue",
              "numberValue": "={{ $('Telegram Trigger').item.json.update_id }}"
            },
            {
              "name": "message",
              "type": "objectValue",
              "objectValue": "={{ $('Telegram Trigger').item.json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bdf080e9-b8d8-4f2d-b190-6d80deea20b8",
      "name": "Set Payload - Photo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        848,
        256
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "e1dc55bc-1555-46ea-8e26-432b28bdb263",
      "name": "Send Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        272
      ],
      "webhookId": "e0cf3bdc-9619-42dc-9d91-8f7ff3a04baf",
      "credentials": {
        "telegramApi": {
          "id": "PSckvakDT1ETlbAn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "60543b45-1284-4ec0-a44a-9373a2af31a5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "70a78dd0-e12a-4658-b538-3b646f668e96",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image+Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fe2f83d6-3195-49f0-ab88-8451de7e67bf",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        160,
        240
      ],
      "id": "5c0cd318-bee4-4248-b6de-8d327a19c72d",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "language",
              "value": "spa"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "K87997918288957"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        256
      ],
      "id": "da21cbf8-1f07-461f-9ff9-261dc626cbfc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Extract ParsedText from OCR response\nconst ocr = $json;\n\nlet parsedText = null;\n\ntry {\n  parsedText = ocr?.ParsedResults?.[0]?.ParsedText ?? null;\n} catch (e) {\n  parsedText = null;\n}\n\n// Return data for next node\nreturn [\n  {\n    parsedText,\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        256
      ],
      "id": "c9a29b86-4302-430a-8ed6-cb8f3439acd9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "n8vybH7rinsU35jL",
          "mode": "list",
          "cachedResultUrl": "/workflow/n8vybH7rinsU35jL",
          "cachedResultName": "YNAB-API-TOOLS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "update_id": "={{ $json.update_id }}",
            "message": "={{ $json.message }}",
            "text": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "update_id",
              "displayName": "update_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1152,
        272
      ],
      "id": "f0605b36-55dc-49ac-bce4-fc07339a8ce3",
      "name": "Call 'YNAB-API-TOOLS'"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File": {
      "main": [
        [
          {
            "node": "Transcribe Audio (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio (OpenAI)": {
      "main": [
        [
          {
            "node": "Set Payload - Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Photo File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload - Photo": {
      "main": [
        [
          {
            "node": "Call 'YNAB-API-TOOLS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload - Text": {
      "main": [
        [
          {
            "node": "Call 'YNAB-API-TOOLS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload - Voice": {
      "main": [
        [
          {
            "node": "Call 'YNAB-API-TOOLS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Download Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Photo File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Payload - Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Set Payload - Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'YNAB-API-TOOLS'": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9dc83419-8dc4-4b4e-bd2c-6b2ceec59ca3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c10011bdd228194b706fe7dc79bf0378bdf65673c997c057b28b7438d3c9c58e"
  },
  "id": "aAMzIryvdfkjqj9U",
  "tags": []
}