workflows/YNAB_API.json
{
  "name": "test-YNAB-API",
  "nodes": [
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "url": "=https://api.ynab.com/v1/budgets/{{ $env.YNAB_BUDGET_ID}}/accounts/{{$json.account_id}}",
        "jsonParameters": true,
        "options": {}
      },
      "id": "98445fb8-8a30-4f04-8289-a25f85c6b4f3",
      "name": "GET /accounts/{id}",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -608,
        688
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "T2I3YKlsiPgwbhwN",
          "name": "YNAB-BEARER-TOKEN"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const response = $items(\"GET /accounts/{id}\")[0].json;\nreturn [{ \n  json: { \n    success: true,\n    action: \"get_account_balance\",\n    account: response.data.account,\n    balance: response.data.account.balance,\n    message: \"Account balance retrieved successfully\"\n  } \n}];"
      },
      "id": "1e0709ce-fcc9-4621-b5ab-790451a3cdef",
      "name": "Return account balance",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -368,
        688
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "url": "=https://api.ynab.com/v1/budgets/{{ $env.YNAB_BUDGET_ID}}/transactions",
        "jsonParameters": true,
        "options": {}
      },
      "id": "5bb6c55e-38fc-4dd2-962f-54cdc28ae9e7",
      "name": "GET /transactions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -608,
        528
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "T2I3YKlsiPgwbhwN",
          "name": "YNAB-BEARER-TOKEN"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const response = $items(\"GET /transactions\")[0].json;\nreturn [{ \n  json: { \n    success: true,\n    action: \"get_transactions\",\n    transactions: response.data.transactions,\n    count: response.data.transactions.length,\n    message: \"Transactions retrieved successfully\"\n  } \n}];"
      },
      "id": "4f0904f9-9005-4f82-9694-24de611d3376",
      "name": "Return transactions result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -368,
        528
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "url": "=https://api.ynab.com/v1/budgets/{{ $env.YNAB_BUDGET_ID}}/categories",
        "jsonParameters": true,
        "options": {}
      },
      "id": "31404c66-c7f0-4ccf-acbc-91b4998b0383",
      "name": "GET /categories",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -608,
        368
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "T2I3YKlsiPgwbhwN",
          "name": "YNAB-BEARER-TOKEN"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const response = $items(\"GET /categories\")[0].json;\nreturn [{ \n  json: { \n    success: true,\n    action: \"get_categories\",\n    categories: response.data.category_groups,\n    count: response.data.category_groups.length,\n    message: \"Categories retrieved successfully\"\n  } \n}];"
      },
      "id": "05ac8dd9-5335-417e-ad34-e979af616967",
      "name": "Return categories result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -368,
        368
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "url": "=https://api.ynab.com/v1/budgets/{{ $env.YNAB_BUDGET_ID}}/accounts",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "=",
        "queryParametersJson": "="
      },
      "id": "01dace54-d106-418e-85f9-0240d8126b67",
      "name": "GET /accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -608,
        192
      ],
      "executeOnce": true,
      "notesInFlow": false,
      "alwaysOutputData": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "T2I3YKlsiPgwbhwN",
          "name": "YNAB-BEARER-TOKEN"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "functionCode": "const response = $items(\"GET /accounts\")[0].json;\nreturn [{ \n  json: { \n    success: true,\n    action: \"get_accounts\",\n    accounts: response.data.accounts,\n    count: response.data.accounts.length,\n    message: \"Accounts retrieved successfully\"\n  } \n}];"
      },
      "id": "e9cc1260-a060-45ef-be68-7c438617f2ad",
      "name": "Return accounts result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -368,
        192
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "body",
              "type": "objectValue",
              "objectValue": "={{  $fromAI('rawPayload') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bd6cc845-ae3a-4d04-a7cc-67860073a398",
      "name": "Build create_transaction payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -608,
        16
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "requestMethod": "POST",
        "url": "=https://api.ynab.com/v1/budgets/{{ $env.YNAB_BUDGET_ID}}/transactions",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ $json.body }}"
      },
      "id": "3951d2a8-a1f6-42ef-aedd-312630279ed2",
      "name": "POST /transactions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -368,
        16
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "T2I3YKlsiPgwbhwN",
          "name": "YNAB-BEARER-TOKEN"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "functionCode": "const response = $items(\"POST /transactions\")[0].json;\nreturn [{ \n  json: { \n    success: true, \n    action: \"create_transaction\",\n    transaction_id: response?.data?.transaction?.id,\n    account_id: response?.data?.transaction?.account_id,\n    amount: response?.data?.transaction?.amount,\n    payee_name: response?.data?.transaction?.payee_name,\n    date: response?.data?.transaction?.date,\n    message: \"Transaction created successfully\"\n  } \n}];"
      },
      "id": "1d8e174b-004f-4b03-b34c-e49099c284b9",
      "name": "Return create result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"request\": \"get_categories\",\n  \"rawPayload\": null\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1152,
        368
      ],
      "id": "70704868-f6e4-4088-b2d5-53afe86a650a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.request }}",
                    "rightValue": "create_transaction",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dd819951-7ec5-4c44-abbb-d858024eceee"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create_transaction"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b70725c3-a648-4a36-992b-201c22b011ca",
                    "leftValue": "={{ $json.request }}",
                    "rightValue": "get_accounts",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_accounts"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a470db8-6b82-4a5b-8c99-2d45dc7d5e40",
                    "leftValue": "={{ $json.request }}",
                    "rightValue": "get_categories",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_categories"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "16aa8d79-59df-40b6-ad60-6d17583d898d",
                    "leftValue": "={{ $json.request }}",
                    "rightValue": "get_transactions",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_transactions"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d7660bb8-c45f-45e5-8a26-de7a8d557725",
                    "leftValue": "={{ $json.request }}",
                    "rightValue": "get_account_balance",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_account_balance"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "leftValue": "={{ $json.request }}",
                    "rightValue": "get_payees",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_payees"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f2a45b05-dc1d-46dc-80cc-cb642e6448f4",
                    "leftValue": "={{ $json.request }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -976,
        320
      ],
      "id": "fd0798c1-760e-4dbf-af8f-77ba6bae3d0c",
      "name": "Switch"
    },
    {
      "parameters": {
        "functionCode": "const errorData = $input.first().json;\n\nlet errorMessage = \"Error occurred\";\n\nif (errorData.error?.detail) {\n  errorMessage = errorData.error.detail;\n} else if (errorData.message) {\n  errorMessage = errorData.message;\n} else if (errorData.error) {\n  errorMessage = JSON.stringify(errorData.error);\n}\n\nreturn [{ \n  json: { \n    success: false, \n    error: true,\n    message: errorMessage,\n    rawError: errorData\n  } \n}];"
      },
      "id": "3021a8f3-60fe-4db6-97ef-e21c72d1491d",
      "name": "Return error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        640,
        480
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "url": "=https://api.ynab.com/v1/budgets/{{ $env.YNAB_BUDGET_ID}}/payees",
        "jsonParameters": true,
        "options": {}
      },
      "id": "a25df91c-0dcc-4890-ad3b-f2b4871e86de",
      "name": "GET /payees",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        -608,
        848
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "T2I3YKlsiPgwbhwN",
          "name": "YNAB-BEARER-TOKEN"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const response = $items(\"GET /payees\")[0].json;\nreturn [{ \n  json: { \n    success: true,\n    action: \"get_payees\",\n    payees: response.data.payees,\n    count: response.data.payees.length,\n    message: \"Payees retrieved successfully\"\n  } \n}];"
      },
      "id": "2185a85c-aacf-4ba7-b299-0e62968be0c0",
      "name": "Return payees result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -368,
        848
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Build create_transaction payload": {
      "main": [
        [
          {
            "node": "POST /transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /transactions": {
      "main": [
        [
          {
            "node": "Return create result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /accounts": {
      "main": [
        [
          {
            "node": "Return accounts result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /categories": {
      "main": [
        [
          {
            "node": "Return categories result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /transactions": {
      "main": [
        [
          {
            "node": "Return transactions result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /accounts/{id}": {
      "main": [
        [
          {
            "node": "Return account balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /payees": {
      "main": [
        [
          {
            "node": "Return payees result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Build create_transaction payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET /accounts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET /categories",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET /transactions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET /accounts/{id}",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET /payees",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0f62d3cb-3f56-4d0d-b403-f94c42dd14ba",
  "meta": {
    "instanceId": "c10011bdd228194b706fe7dc79bf0378bdf65673c997c057b28b7438d3c9c58e"
  },
  "id": "LsglutbwFdCBFJbU",
  "tags": []
}